{% extends 'core/document_nav.html' %}
{% load i18n staticfiles bootstrap %}
{% block head_title %}{% if object %}{% trans "Update a Document" %}{% else %}{% trans "Create a new Document" %}{% endif %}{% endblock %}

{% block body %}
<div id="editor">
    <editor :document-id="'{{document.id}}'"
            :document-name="'{{ document.name|escapejs }}'"
            :part-id="'{{part.id}}'"
            :default-text-direction="'{{ document.default_text_direction }}'"
            :main-text-direction="'{{ document.main_script.text_direction }}'"
            :read-direction="'{{ document.read_direction }}'">

        {% block nav %}{{ block.super }}{% endblock %}
  </editor>
</div>
{% endblock %}

{% block scripts %}
  <script>
    {% if user.onboarding %}
    const ONBOARDING_PAGE  = "onboarding_edit";
    {% endif %}
  </script>

  {{ block.super }}

  <script>
    $(document).ready(function() {
       // join the ws room
       joinDocumentRoom('{{document.pk}}');
       bootHelp();
    });
  </script>

  <script src="{% static 'editor.js' %}"></script>
{% endblock %}
